In [1]:
#Q2
# H0 : No Difference in average(no variance)
# Ha : One Difference in average(it has variance)
# 5% significance level
#a=0.05

In [2]:
import pandas as pd
import numpy as np
from scipy import stats

In [3]:
data=pd.read_csv("LabTAT.csv")
data.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [4]:
stats, p =stats.f_oneway(data.iloc[:,0],data.iloc[:,1],data.iloc[:,2],data.iloc[:,3])

In [5]:
stats

118.70421654401437

In [6]:
p

2.1156708949992414e-57

In [7]:
alpha=0.05
print(" p value is"+str(p))
if p<= alpha:
    print("At least one difference in average(Reject H0)")
else:
    print(" No any difference in average(Accept H0)")

 p value is2.1156708949992414e-57
At least one difference in average(Reject H0)